.chapter {
  padding: 25px;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  background-image: url('../assets/images/parchemin3.jpg');
  box-shadow: 10px 10px 5px #eee;
}

.title {
  color: #444;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.text {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #555;
}

.choices-title {
  color: #444;
}

.choice {
  display: block;
}

#footer {
  font-size: 11px;
  margin-top: 25px;
}

.choices li{ 
  margin: 0; 
  list-style: none; 
}
.choices li:before { 
  float: left;
  content: '◆'; 
  margin-right: 5px;
}

hr.gradient {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
