.chapter {
  padding: 25px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  background-image: url('../assets/images/parchemin3.jpg');
}

.title {
  color: #444;
  font-weight: bold;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2{
  margin-top: 50px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.text {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #555;
}

.choices-title {
  color: #444;
}

.choice {
  display: block;
}
